:root {
  --primary-color: #0a3871;
  --background-color: #e1e4fa;
  --secondary-color: #e9dbf6;
  --tertiary-color: #fbf2c6;
  --secondary-font: "Montserrat", sans-serif;
}
body {
  background-color: var(--background-color);
}
/* header */
header {
  padding: 1vh;
}
.imgLogo {
  width: 12%;
  height: 4.8%;
}
/* Div que contiene a form y el texto incriptado   */

.divGlobal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Input Ingresa texto */
.inputIngresaTexto {
  background-color: aqua;
  width: 80vb;
  height: 70vb;
  margin: 1%;
  border: none;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: xx-large;
  padding: 2%;
  border-radius: 32px;
}
.inputIngresaTexto:focus {
  background-color: var(--tertiary-color);
  outline: none;
}

/* Botones */
.btnEncriptar {
  background-color: var(--primary-color);
  width: 328px;
  height: 67px;
  border-radius: 24rem;
  color: var(--background-color);
  font-family: var(--secondary-font);
  font-weight: 500;
  border: none;
}
.btnDesencriptar {
  background-color: var(--secondary-color);
  width: 328px;
  height: 67px;
  border-radius: 24rem;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-weight: 500;
  border: none;
}
.divBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
/* Input texto encriptado  */
.textareaDesencriptado {
  background-color: var(--tertiary-color);
  border-radius: 32px;
  width: 55vh;
  height: 79vh;
  margin-right: 3%;
  padding: 10px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.textareaDesencriptado:focus {
  outline: none;
}
.divTextarea {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: x-large;
  display: contents;
  justify-content: center;
}

/* Para ocualtar el btn de copiar  */
#btnCopiar {
  display: none;
}
