:root {
  --primary-color: #0a3871;
  --background-color: #e1e4fa;
  --secondary-color: #e9dbf6;
  --tertiary-color: #fbf2c6c9;
  --primary-font: "Onest", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}
body {
  background-color: var(--background-color);
}
/* header */
header {
  padding: 1vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
.imgLogo {
  width: 12%;
  position: relative;
  right: 27rem;
}
.title {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: xx-large;
  display: contents;
}
/* Div que contiene a form y textarea incriptado */
.divGlobal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

/* div de input y btns */
.divInputBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input Ingresa texto */
.inputIngresaTexto {
  background-color: var(--background-color);
  width: 50vw;
  height: 45vw;
  margin: 1%;
  border: none;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: xx-large;
  padding: 2%;
  border-radius: 32px;
  overflow-y: auto;
  white-space: normal;
}
.inputIngresaTexto:focus {
  background-color: var(--tertiary-color);
  outline: none;
  box-shadow: 2px 2px 20px #0a3871;
}

/* Icono de circulo  */

.icon-text {
  display: flex;
  align-items: center;
  padding: 10px;
}

.icon-text i {
  color: var(--primary-color);
  font-size: 24px;
  margin-right: 10px;
}

.icon-text span {
  color: var(--primary-color);
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 500;
}

.btnEncriptar,
.btnDesencriptar {
  background-color: var(--primary-color);
  width: 328px;
  height: 67px;
  border-radius: 24rem;
  color: var(--background-color);
  font-family: var(--secondary-font);
  font-weight: 500;
  border: none;
  margin: 5px;
  font-size: x-large;
  box-shadow: 2px 2px 9px #0a3871;
}
.btnDesencriptar {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 328px;
  height: 67px;
  border-radius: 24rem;
  font-family: var(--secondary-font);
  font-weight: 500;
  border: none;
}

/* Input texto encriptado  */
.pTextareaa {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: x-large;
  pointer-events: none;
  margin: -45%;
}
.txtareaDesencriptado {
  box-shadow: 2px 2px 20px #0a3871;
  width: 30vw;
  height: 46vw;
  margin-right: 3%;
  padding: 10px;
  font-family: var(--secondary-font);
  font-size: xx-large;
  border-radius: 32px;
  border: none;
}
.txtareaDesencriptado:focus {
  outline: none;
  background-color: var(--tertiary-color);
}

.divTextarea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgMuneco {
  position: fixed;
  width: 25%;
  pointer-events: none;
  margin: 8%;
}

.btnCopiar {
  background-color: var(--primary-color);
  width: 328px;
  height: 67px;
  border-radius: 24rem;
  color: var(--background-color);
  font-family: var(--secondary-font);
  font-weight: 500;
  border: none;
  margin-top: 10px;
  display: none; /* Ocultar inicialmente */
  justify-content: space-evenly;
  align-items: inherit;
  font-size: x-large;
  box-shadow: 2px 2px 9px #0a3871;
}
/* Punto de quiebre para dispositivos */
@media (min-width: 320px) and (max-width: 768px) {
  .divGlobal {
    flex-direction: column;
  }
  .imgLogo {
    right: 1rem;
  }
  .title {
    font-size: large;
  }
  .pTextareaa {
    font-size: smaller;
    margin-top: -121px;
  }
  .divBtns {
    display: inline-grid;
    margin: 2%;
  }
  .txtareaDesencriptado {
    width: 85vw;
    height: 35vw;
    margin-top: 4%;
    font-size: large;
  }
  .imgMuneco {
    margin-top: 51px;
    width: 30%;
  }
  .inputIngresaTexto {
    width: 85vw;
    font-size: large;
  }
  .btnEncriptar,
  .btnDesencriptar {
    width: 250px;
  }
  .btnCopiar {
    margin-top: 29px;
    width: 250px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .pTextareaa {
    margin-top: -145px;
  }
  .imgMuneco {
    margin-top: 61px;
  }
  .icon-text {
    padding: 0%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .divGlobal {
    flex-direction: column;
    align-items: center;
  }

  .pTextareaa {
    font-size: large;
    position: relative;
    margin-top: -50px;
  }
  .icon-text {
    padding: 0%;
  }
  .divBtns {
    display: inline-grid;
    margin: 2%;
  }
  .imgLogo {
    right: 12rem;
  }
  .inputIngresaTexto {
    width: 190%;
  }
}
@media (min-width: 1024px) {
  .pTextareaa {
    font-size: medium;
  }
  .divBtns {
    display: inline-table;
  }
  .imgLogo {
    right: 15rem;
  }
  .inputIngresaTexto {
    width: 60vw;
  }
  .btnCopiar {
    margin-top: 57px;
  }
}
@media (min-width: 1440px) {
  .imgLogo {
    right: 26rem;
  }
  .btnCopiar {
    margin-top: 65px;
  }
}
@media (min-width: 2560px) {
  .imgLogo {
    right: 56rem;
  }
}
